<!--
    Student: Nikolaos Gkaltzidis
    email: ngkaltzidis@uclan.ac.uk
    Registration number: G20794185
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
    <link href="/css/nav.css" type="text/css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <link href="/css/play.css" type="text/css" rel="stylesheet">
    <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    <script src="/Assets/fonts/font.js" crossorigin="anonymous"></script>
    <%- include('../partials/headers.ejs') %>
</head>
<body>
<%- include('partials/dashNavbar.ejs') %>

<div class="container">
    <div class="moduleInfo">
        <img class="module_image" src="/images/js.png" alt="Javascript">
        <div>
        <h2 class="module_title">
            Javascript
        </h2>
        <p>Learn all the basic features of JavaScript, including making your website more interactive, changing website content, validating forms, and so much more.</p>
        </div>
    </div>



    <div id="moduleItems" class="moduleItems">
        <ul>
            <% for(let i = 0; i < 10; i++) { %>
                <li class="">
                    <div class="ph-item">
                        <div class="ph-picture questions"></div>
                    </div>
                </li>
            <% } %>

        </ul>
    </div>
</div>

<script src="js/dashboard.js"></script>
</body>
</html>