<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="css/nav.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
    <link href="css/design.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="Assets/fonts/font.js" crossorigin="anonymous"></script>
</head>
<body>
<%- include('partials/navbar.ejs') %>

<div class="container">

    <div class="container_title">

        <i class="fas fa-code"></i>
        <i class="fab fa-js"></i>
        <i class="fas fa-laptop-code"></i>
        <i class="far fa-file-code"></i>
        <i class="fas fa-project-diagram"></i>
        <i>&lt;script&gt;</i>
        <i>[ ]</i>
        <i class="icon">{ }</i>

        <h1>Learn and Compete<br><span id="js">JavaScript</span><br>Algorithms and Data Structures</h1>
    </div>
    <div class="container_body">
        <h2>Experience yourself through a real time code editor and compete with professionals of your field . <span id="free">It's Free</span></h2>
        <a id="learnNow" href="login">Start coding now</a>
    </div>
</div>

</body>
</html>