<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/Assets/fonts/font.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/runCode.css">
</head>
<body>
<pre id="output"></pre>
<pre id="errors"></pre>

<div class="validation">
    <p id="correct"><i class="far fa-check-square"></i> Correct, well done!</p>
    <p id="wrong"><i class="far fa-times-circle"></i> Wrong, try again</p>
</div>

<script src="/js/runCode.js"></script>
<script id="testCode"></script>

<script id="validateCode"></script>

</body>
</html>