<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">
    <link href="css/nav.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
    <link href="css/scoreboard.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <script src="Assets/fonts/font.js" crossorigin="anonymous"></script>
</head>
<body>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <div class="headers">
        <div class="p_index">#</div>
        <div class="name">Player Name</div>
        <div class="time">Play Time</div>
        <div class="p_score">Score</div>
    </div>
    <div class="scoreboard">
        <% for(let i = 0; i < 10; i++) { %>
            <div class="ph-item users">
                <div class="ph-picture"></div>
            </div>
        <% } %>
    </div>
</div>


<script src="js/scoreboard.js"></script>
</body>
</html>