.container {
    max-width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10% auto;
    background-color: #141414;
    border-radius: 4px;
    border: 1px solid #04AA6D;
    box-shadow: 3px 9px 32px #04aa6d1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_title{
    text-align: center;
    padding: 10px;
}

.form_objects {
    padding: 10px;
    width: 100%;
}

.form_objects input, button {
    width: 100%;
    height: 40px;
    border: 2px solid #6c6c6c;
    outline: none;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    background: #2B2B2B;
    border-radius: 4px;
    color: #A9B7C6;
}

.form_objects label {
    font-size: 15px;
}

.form_submit_btn {
    background-color: #04AA6D !important;
    color: white !important;
    font-size: 20px !important;
    border: none !important;
    padding: 10px !important;
    height: auto !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form_submit_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px -1px #04aa6d1a;
}

.after-from-msg {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}

.after-from-msg a {
    color: #BBB529;
}

#error_txt {
    color: #f74545;
    text-align: center;
    display: block;
    font-size: 16px;
}

#msg_txt {
    width: 200px;
    font-size: 16px;
    color: #fff;
    transition: all .3s;
    text-align: left;
}

.error-text {
    text-align: center !important;
    width: 100% !important;
    color: #f74545 !important;
}

